flash_attn==2.5.9.post1
indexed_bzip2==1.6.0
mamba_ssm==2.0.3
matplotlib==3.7.0
mgzip==0.2.1
numpy==2.0.1
opencv_python==4.10.0.84
pandas==2.2.2
print_dict==0.1.19
psutil==5.9.0
rdkit==2023.9.5
scikit_learn==1.5.1
torch==2.3.1
tqdm==4.66.3
